@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	
}

.dark-theme{
	--common-color:#7400FF;
	--main-bg:#1B0044;
	--heading-color:#ffffff;
	--card-bg: #27215D;
	--p-color:#ffffff;
	--card-bg2:#7400FF;
	--brand:#ffffff;
	--nav:#1B0044;
	--nav-togggler:#dddddd;
	--nav-togggler-color:#000000;
	--card-border:#27215D;
	--card-bg3:#27215D;
	--modal-border:#7400FF;
	--nav-hover:#ffffff;

}

.light-theme{
	--common-color:#00A1FF;
	--main-bg:#f8f9fa;
	--heading-color:#000000;
	--card-bg:#ffffff;
	--p-color:#000000;
	--card-bg2:#00A1FF;
	--brand:#000000;
	--nav:#ffffff;
	--nav-togggler:#ffffff;
	--nav-togggler-color:#ffffff;
	--card-border:#ffffff;
	--card-bg3:#ffffff;
	--modal-border: #00A1FF;
	--nav-hover:#000000;

}


.main-bg{
	background-color:var(--main-bg);
}

/*navbar*/

#nav1,#nav2{
	display: none;
}

nav{
	background-color: var(--nav);
}

nav .container .collapse{
	
	justify-content: space-evenly!important;
}

nav .container .navbar-brand{
	color: var(--brand);
}

nav .container ul li a{
	color: var(--brand);
}
nav .container ul li a:hover{
	color: var(--nav-hover);
}
nav .container .collapse ul li{
	padding: 5px 15px 5px 15px;
}



/*Section1*/
#home1{
	display: none;
}
.section1{
  width: 100%;
  height: 948px;
}

.section1 img{
  width: 100%;
  height: 900px;
}

.section1:before{

  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;
  height: 949px;
  background:rgba(0,0,0,0.7);

}
.section1 .container-fluid .name-container .name{
	position: absolute;
	top: 425px;
}


.section1 .container-fluid .name-container .name h1{
	font-size: 60px;
}
.section1 .container-fluid .name-container .name p{
	font-size: 35px;
}
/*Intro*/

.aborder{
border: 2px solid var(--common-color);
border-radius: 5px;
width: 8%;

}
.fborder{
border: 2px solid #ffffff;
border-radius: 5px;
width: 8%;

}

.cborder{
border: 2px solid #ffffff;
border-radius: 5px;
width: 20%;

}
.pborder{
display: flex;
justify-content: center;
align-items: center;
}

.intro .container .card-heading h1{
	font-size: 45px;
	color: var(--heading-color);
}

.intro .container .card .card-body{
	background-color: var(--card-bg);
	color: var(--p-color);
}

/*Section2*/
.section2 .container .course-details h1{
	font-size: 45px;
	color: var(--heading-color);
}
.section2 .container .courses .row .col-lg-6 .card{
		border:1px solid var(--card-border) ;

}
.section2 .container .courses .row .col-lg-6 .card .row .col-md-4{
		/*border-top-right-radius:5px ;
		border-top-left-radius:5px ;*/
}
.section2 .container .courses .row .col-lg-6 .card .row .col-md-8{
	background-color: var(--card-bg);
/*	border-bottom-left-radius:5px ;
	border-bottom-right-radius:5px ;*/
	color: var(--p-color);
}

.section2 .container .courses .row .col-lg-6 .card .row .col-md-8 .card-body .modal-dialog .modal-body .card-body{
	background-color: var(--card-bg3);
	color: var(--p-color);
}
.section2 .container .courses .row .col-lg-6 .card .row .col-md-8 .card-body .modal-dialog .modal-body img{
height: 300px;
width: 700px;
}

.section2 .container .courses .row .col-lg-6 .card .row .col-md-8 .card-body .modal-dialog{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 0.5rem;
background-color: var(--card-bg3);
z-index: 1;
border: 2px solid var(--modal-border);

}

.section2 .container .courses .col-md-8 .card-body .livelink-bg{
background-color: var(--common-color);
}

.section2 .container .more-btn a{
	background-color: var(--common-color);
}

/*Section3*/

.section3 .container .card .row .col-md-6 .card-body h5{
	font-size: 45px;
	color: #000000;
}

.section3 .container .card .row .col-lg-8 .card-body h5{
	color: var(--heading-color);
	font-size: 45px;
}
.section3 .container .card .row .col-lg-8{
	background-color: var(--card-bg);
}
.section3 .container .card .row .col-lg-8 .card-body{
	color: var(--p-color);
}
.section3 .container .card .row .col-lg-8 .card-body .row .col-md-12 .btn{
	background-color:  var(--common-color);
	width: 25%;
	border-radius: 30px;
	padding: 10px;
	color: #ffffff;
}
.section3 .container .card .row .col-lg-8 .card-body .row .col-md-12 .btn:hover{
	background-color:#ffffff;
	color: var(--common-color);
	border: 2px solid var(--common-color);
}

.bborder{
border: 2px solid var(--common-color);
border-radius: 5px;
width: 25%;

}


/*Section4*/
.section4 .container{
	background-color: var(--common-color);
	padding: 20px;
}

.section4  .container .modal-details a{
	color: var(--common-color);
	border-radius: 30px;
}
.section4  .container .modal-details a:hover{
	font-weight: bold;
	background-color: ;
	border: 2px solid var(--common-color);
}
.section4 .modal .modal-header{
	background-color: var(--common-color);
}
.section4 .modal .modal-body .register{
	border: 1px solid var(--common-color);
	color: var(--common-color);
}

/*Section5*/
.section5 .container .elements h5{
	font-size: 45px;
	color: var(--heading-color);
}
.section5 .container .row .skill_margin .card img{
	border-radius: 15px;
}

.section5 .container .row .col-md-3 .card .card-body{
	background-color: var(--card-bg);
	border-bottom-left-radius:6px ;
	border-bottom-right-radius:6px ;
}
.section5 .container .row .skill_margin .card .card-body h5{
	background-color: var(--common-color);
	color: #ffffff;

}








/*Section6*/

.section-6 .container .education-header h1{
	font-size: 45px;
	color: var(--heading-color);
}
.section-6 .container .card{
	background-color: var(--card-bg2);
	color: #ffffff;
}
.section-6 .container .card-body ul li{
	position: relative;
	list-style: none;
	padding-left: 24px;
}

.section-6 .container .card-body .card-title{
	font-size: 1.6rem;
}
.section-6 .container .card-body ul li:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    left: 0;
    background-color: #ffffff;
    top: 12px;
}
.section-6 .container .card:hover{
	background-color: var(--common-color);
	color: #ffffff;
}
/*Section7*/

.section-7 .container .education-header h1{
	font-size: 45px;
	color: var(--heading-color);
}
.section-7 .container .card{
	background-color: var(--card-bg2);
	color: #ffffff;
}
.section-7 .container .card-body ul li{
	position: relative;
	list-style: none;
	padding-left: 24px;
}
.section-7 .container .card-body .card-title{
	font-size: 1.6rem;
}
.section-7 .container .card-body ul li:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    left: 0;
    background-color: #ffffff;
    top: 12px;
}

.section-7 .container .card:hover{
	background-color: var(--common-color);
	color: #ffffff;
}


/*Section FAQ*/
.section-faq .container-fluid{
	background-image:url("/public/images/bg2.png");
	background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 100%!important;
}

.section-faq .container-fluid div div h1{
	font-size: 45px;
}

.section-faq .container-fluid .faq-container .col-md-6{
margin-top:220px ;
}
.section-faq .container-fluid .faq-container .col-md-6 .accordion-item,.section-faq .container-fluid .faq-container .col-md-6 .accordion-item .accordion-button{
	background-color: #000000;
	color: #ffffff;
}

.section-faq .container-fluid .faq-container .col-md-6 .accordion-item button:focus{
	outline: 0;
	box-shadow: none !important;
	border: 1px solid #ffffff;
}

/*Section8*/

.section-8 .container .contact-header h1{
	font-size: 45px;
	color: var(--heading-color);
}

.section-8 .container .dbox {
    color: rgba(255,255,255,.8);
    margin-bottom: 25px;
}

.section-8 .container .row .card-height{
	height: 380px;
}

.section-8 .container .contact-form .row .col-lg-8 .card-height .submit{
	background-color: var(--common-color);
	border-radius: 30px;
  padding: 10px;
  color: #ffffff;
}

.section-8 .container .contact-form .row .col-lg-8 .card-height .submit:hover{
	background-color:#ffffff;
	color: var(--common-color);
	border: 2px solid var(--common-color);
}

.section-8 .container .contact-form .row .col-lg-4 .card{
	height: 425px;
	background-color: var(--common-color);
}
.section-8 .container .dbox .icon{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    margin: 10px;
}


/*footer*/



footer {
    padding: 50px 0;
    display: flex;
	justify-content: center;
	background-image:url("/public/images/bg3.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}

.title h3 , .owner-details p{
	text-align: center;
	color: white;
}



.social i{
    background: rgba(218, 208, 208, 0.1);
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.social i:hover{
	background: var(--common-color);
}

.social ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: -28px;
}

.social ul li{
	list-style: none;
}
.social ul li a{
	text-decoration: none;
	padding: 5px;
	color: white;
}


/*Light to dark mood Button*/


.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: pink;
}

.fa-sun {
  color: yellow;
}




@media only screen and (max-width: 1024px) and (min-width: 768px) {

	/*navbar*/
	#nav,#nav1{
	display: none;
	}
	#nav2{
	display: block;
	}
	#nav1 .container .register{
		margin-right: 10px;
	}
	/*Section1*/
	
	.section1:before{
		top: 195px;
  	height: 900px!important;
	}

	/*Section2*/
	.section2 .container .course-details h1{
		font-size: 30px;
	}


	
	

	/*Section3*/
	.section3 .container .card .row .col-lg-8{
		padding: 0!important;
	}

	.section3 .container .card .row .col-lg-8 .card-body h5 {
		font-size: 27px;
	}
	.section3 .container .card .row .col-lg-8 .card-body .ellipsis{
		
  		white-space: normal; 
  		height: 90px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	/*Section4*/
	.section4 .container{
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.section4 .container .modal-details h3,.section4 .container .modal-details p{
		text-align: center;
	}


	


}
@media only screen and (max-width: 600px) {
	/*navbar*/
	#nav1{
		display: block;
	}
	#nav,#nav2{
		display: none;
	}
	#nav1 .container .navbar-brand{
		font-size: 17px;
	}
	#nav1 .container .navbar-toggler{
		background-color:var(--nav-togggler);
		color: var(--nav-togggler-color);
	}
	
	/*Section1*/
	#home1{
		display: block !important;
	}
	#home{
		display: none !important;
	}
	.section1{
		width: 100% !important;
		height: 270px !important;
	}
	#home1 img{
		width: 100%!important;
		height: 100%!important;
	}
	#home1 .container{
		margin-top: 90px;
	}
	.section1:before{
		display: none !important;
	}
	#home1 .container .caption{
	position: absolute;
	top: 165px;
	}
	#home1 .container .caption h1{
	font-size: 21px !important;
	}
	#home1 .container .caption p{
		font-size: 25px;
	}
	/*Intro*/
	.intro .container .card-heading h1{
		font-size: 35px!important;
	}
	/*Section2*/
	.section2 .container .course-details h1{
		font-size: 35px!important;
	}
	.section2 .container .courses .col-md-4 img{
		width: 100%;
	}
	.section2 .container .courses .col-md-8 small{
		font-size: 22px;
		font-weight: bold;
	}

.section2 .container .courses .row .col-lg-6 .card .row .col-md-8 .card-body .modal-dialog{
	padding: 18px!important;
}

	.section2 .container .courses .row .col-lg-6 .card .row .col-md-8 .card-body .modal-dialog .modal-body img{
	height: 150px!important;
	width: 300px!important;
}
	
	/*Section3*/
	.section3{
		padding-top: 10px!important;
	}
	.section3 .container .card .row .col-lg-4 img{
		width: 100%;
		height: 400px!important;
		border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
	}
	.section3 .container .card .row .col-lg-8{
		padding: 0!important;
	}
	.section3 .container .card .row .col-lg-8 .card-body{
		padding: 20px !important;
	}
	.section3 .container .card{
		padding: 0!important;
	}
	.section3 .container .card .row .col-lg-8 .card-body h5 {
    font-size: 35px!important;
	}
	.section3 .container .card .row .col-lg-8 .card-body .info h5{
		font-size: 25px;
		font-weight: bold;
	}
	.section3 .container .card .row .col-lg-8 .card-body .row .col-md-12 .btn {
		width: 32%;
	}
	

	/*Section4*/
	.section4{
		padding-bottom: 0!important;
	}
	.section4 .container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px!important;
		width: 100%!important;
		margin: 0!important;
	}
	.section4 .container .modal-details{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.section4 .container .resume{
		margin-bottom: 15px;
	}
	.section4 .container .modal-details P{
		text-align: center;
	}

	/*Section5*/

.section5 .container .row .skill_margin{
	margin-top: 15px!important;
}

.section5 .container .elements h5{
	font-size: 35px!important;
}





	
	

	/*Section6*/
	.section-6 .container .education-header h1{
		font-size: 35px!important;
	}

	.section-6 .container .card .card-body div{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.section-6 .container .card .card-body div span{
		text-align: center;
	}

	/*Section7*/
	.section-7 .container .education-header h1{
		font-size: 35px!important;
	}
	.section-7 .container .card .card-body div{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.section-7 .container .card .card-body div span{
		text-align: center;
	}
	.section7 .container .qs{
		width: 100% !important;
	}
	.section7 .container .qs-elements{
		padding: 15px;
	}
	.section7 .container .qs-elements h1{
		font-size: 20px;
	}
	.section7 .container .qs-elements p{
		text-align: center;
		margin-top: 10px;
	}

/*Section FAQ*/
.section-faq .container-fluid{
	height:100%!important ;
}

.section-faq .container-fluid div div h1{
	font-size: 35px!important;
}

.section-faq .container-fluid .faq-container .col-md-6{
margin-top:45px ;
}
.section-faq .container-fluid .faq-container .col-md-6 .accordion-item,.section-faq .container-fluid .faq-container .col-md-6 .accordion-item .accordion-button{
	opacity: 0.8;
	border: 0!important;
}
.section-faq .container-fluid .faq-container .col-md-6 .accordion-item .accordion-header:focus{

	border: 0!important
}
.section-faq .container-fluid .faq-container .col-md-6 .accordion-item button:focus{
	border: 0!important
}
/*Section8*/
.section-8 .container .contact-header h1{
	font-size: 35px!important;
}

	.section-8 .container .row .card-height{
	height: 440px!important;
}

	/*footer*/

	footer .container{
	padding: 15px !important;
	}
}